# Ignore dependencies
/node_modules/

# Ignore build output
/dist/

# Ignore development server files
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Ignore log files
/*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE files
/.idea/
/.vscode/
